registry=https://registry.npmjs.org/
@ibfd:registry=http://nexus3.ibfd.org/repository/npm_public/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=CA8AF3FC-B1E9-4718-9C81-769AD99E0F82
