<div *ngIf="previewShow" class="d-flex flex-column align-items-center">
  <div>
    <h3>Preview</h3>
  </div>
  <div>
    <div class="btn-group btn-group-toggle">
      <!-- <a class="btn btn-outline-dark" routerLink="" routerLinkActive="active"
        >Document</a
      >
      <a class="btn btn-outline-dark" routerLink="">Topic</a>
      <a class="btn btn-outline-dark" routerLink="">Outline</a> -->

      <button
        class="btn"
        [class.btn-dark]="showDocumentPreviewDiv"
        [class.btn-outline-dark]="!showDocumentPreviewDiv"
        (click)="showDocumentPreview()"
      >
        Document
      </button>

      <button
        class="btn"
        [class.btn-dark]="showTopicPreviewDiv"
        [class.btn-outline-dark]="!showTopicPreviewDiv"
        (click)="showTopicPreview()"
      >
        Topic
      </button>
      <button
        class="btn"
        [class.btn-dark]="showOutlinePreviewDiv"
        [class.btn-outline-dark]="!showOutlinePreviewDiv"
        (click)="showOutlinePreview()"
      >
        Outline
      </button>
    </div>
  </div>
  <div>
    <div *ngIf="showDocumentPreviewDiv" class="container mt-3">
      <div class="docPreviewSection" [innerHTML]="documentData.body"></div>
    </div>
    <div *ngIf="showOutlinePreviewDiv" class="container mt-3">
      <ul style="list-style: none">
        <ng-container *ngFor="let outline of documentData.outline.nodes">
          <li>
            <a [href]="outline.href" [innerHTML]="outline.title"></a>
            <ng-container *ngIf="outline.nodes && outline.nodes.length > 0">
              <ng-container
                *ngTemplateOutlet="
                  recursiveOutlineTemplate;
                  context: { $implicit: outline.nodes }
                "
              ></ng-container>
            </ng-container>
          </li>
        </ng-container>
      </ul>
      <ng-template #recursiveOutlineTemplate let-nodes>
        <ul style="list-style: none">
          <ng-container *ngFor="let node of nodes">
            <li>
              <a [href]="node.href" [innerHTML]="node.title"></a>
              <ng-container *ngIf="node.nodes && node.nodes.length > 0">
                <ng-container
                  *ngTemplateOutlet="
                    recursiveOutlineTemplate;
                    context: {
                      $implicit: node.nodes
                    }
                  "
                ></ng-container>
              </ng-container>
            </li>
          </ng-container>
        </ul>
      </ng-template>
    </div>
  </div>
</div>
